{% extends 'content/base.html' %}

{% block title %}
    {{ article.title }}
{% endblock %}

{% block main %}
    <table>
        <tr>
            <td style="width:80%">
                <strong>Zákldní parametry:</strong>
            <p>{{ article.zakladniInfo }}</p>

            <strong>Kategorie:</strong>
            <p>
                {% for category in article.categories.all %}
                    <a href="{%url 'content:category' category.id %}">{{ category.name }}</a>{% if not forloop.last %}, {% endif %}
                {% endfor %}
            </p>

            <strong>Další informace:</strong>
            <p>{{ article.dodatkovyText }}</p>

            <strong>Jak k tomu přijít:</strong>
            <p>{{ article.vyroba }}</p>

            <strong>Od jaké verze je to tady s námi:</strong>
            <p>{{ article.version }}</p>

            </td>
            <td>
                <img src="{{ article.image.url }}" alt="{{ article.title }}">
                <p>Jméno: {{ article.title }}</p>
            </td>
        </tr>
    </table>
    
    <a href="{% url 'content:articles' %}">Zpet na seznam</a>
{% endblock %}
