{% extends 'content/base.html' %}
{% load static %}

{% block title %}
<style>
    div .entita img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%  !important;
    }
    table, th, td {
        border-collapse: collapse;
        background-color: rgb(206, 206, 206);
    }
</style>
    Hlavni stranka - Lite terraria wiki
    <h2>O nás:</h2>
        <p>Lite terraria wiki je stránka, která vám poskytne informace o všech objektech v terrarii. Na této stránce najdete informace o všech objektech, které můžete najít v terrarii. </p>
    <hr>
{% endblock %}

{% block main %}
    <section>
        <div class="container">
    {% for article in articles %}
            <div class="item">
                <div class="box">
                    <h2><a href="{% url 'content:article' article.id %}">{{ article.title }}</a></h2>
                    <div class="entita">
                        <img src="{{ article.image.url }}" alt="{{ article.title }}">
                    </div>
                    <table style="width:100%">
                        <tr>
                            <td style="width:80%">
                            <p>Hodnocení: {{ article.vote_avg }} na {{ article.vote_count }} hlasů</a></p>
                            <p>Hodnocení v obrázku:</p>
                            {% if article.vote_count == 0 %}
                                <img src="{% static 'Question.png' %}" alt="?">
                            {% else %}
                                {% with article.vote_avg|floatformat:0 as rounded_vote %} 

                                {% if rounded_vote == "1" %}
                                    <img src="{% static 'Heart0.png' %}" alt="mrtveSrdicko" style="width:42px;height:42px;">
                                {% elif rounded_vote == "2" %}
                                    <img src="{% static 'Heart1.png' %}" alt="1cvtCervenoho" style="width:42px;height:42px;">
                                {% elif rounded_vote == "3" %}
                                    <img src="{% static 'Heart2.png' %}" alt="2cvtCervenoho" style="width:42px;height:42px;">
                                {% elif rounded_vote == "4" %}
                                    <img src="{% static 'Heart3.png' %}" alt="3cvtCervenoho" style="width:42px;height:42px;">
                                {% elif rounded_vote == "5" %}
                                    <img src="{% static 'Heart.png' %}" alt="cerveneSrdce" style="width:42px;height:42px;">
                                {% elif rounded_vote == "6" %}
                                    <img src="{% static 'GoldenHeart1.png' %}" alt="1cvtZlateho" style="width:42px;height:42px;">
                                {% elif rounded_vote == "7" %}
                                    <img src="{% static 'GoldenHeart2.png' %}" alt="2cvtZlateho" style="width:42px;height:42px;">
                                {% elif rounded_vote == "8" %}
                                    <img src="{% static 'GoldenHeart3.png' %}" alt="3cvtZlateho" style="width:42px;height:42px;">
                                {% elif rounded_vote == "9" %}
                                    <img src="{% static 'GoldenHeart.png' %}" alt="zlateSrdce" style="width:42px;height:42px;">
                                {% else %}
                                    <img src="{% static 'Question.png' %}" alt="?" style="width:42px;height:42px;">
                                {% endif %}

                                {% endwith %}
                            {% endif %}
                                <p>
                                    Kategorie:
                                    {% for category in article.categories.all %}
                                        {{ category.name }}{% if not forloop.last %}, {% endif %}
                                    {% endfor %}
                                </p>
                                <p>
                                    Info: {{ article.zakladniInfo }}
                                </p>
                            </td>
                            <td>
                                
                            </td>
                        </tr>
                        <tr>
                        </tr>
                    </table>
                </div>
            </div>
    {% endfor %}
        </div>
    </section>	
    <hr>

    <h2>Kategorie:</h2>
        <div class="greenBack">
            <p>Zde jsou všechny kategorie obsažené v Lite terraria wikipedii.</p>
            <p>Počet kategorií: {{ categories|length }}</p>
            <p>
            {% for category in categories %}
                <a href="{% url 'content:category' category.id %}">{{ category.name }}</a>{% if not forloop.last %}, {% endif %}
            {% endfor %}
            </p>
        </div>
{% endblock %}
        
