{% extends 'content/base.html' %}

{% block title %}
    <style>
        div .entita img {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 40%  !important;
        }
        table, th, td {
            padding: 10px;
            border: 1px solid black;
            background-color: rgb(206, 206, 206);
        }
    </style>
    {{ article.title }}
{% endblock %}

{% block main %}
    <table>
        <tr>
            <td style="width:80%">
                <strong>Zákldní parametry:</strong>
            <p>{{ article.zakladniInfo }}</p>

            <strong>Kategorie:</strong>
            <p>
                {% for category in article.categories.all %}
                    <a href="{%url 'content:category' category.id %}">{{ category.name }}</a>{% if not forloop.last %}, {% endif %}
                {% endfor %}
            </p>

            <strong>Další informace:</strong>
            <p>{{ article.dodatkovyText }}</p>

            <strong>Jak k tomu přijít:</strong>
            <p>{{ article.vyroba }}</p>

            <strong>V jakém biomu jsem:</strong>
            <p>{{ article.biom }}</p>

            <strong>Od jaké verze je to tady s námi:</strong>
            <p>{{ article.version }}</p>

            </td>
            <td>
                <div class="entita">
                    <img src="{{ article.image.url }}" alt="{{ article.title }}">
                </div>
                <p>Jméno: {{ article.title }}</p>
            </td>
        </tr>
    </table>
    <div>
        hlasu {{ article.vote_count }}
        prumer {{ article.vote_avg }}
    </div>
    <div class="my-4">
        <h2>Vote</h2>
        <ul class="list-group">
            <li class="list-group-item">
                <a href="?vote=1" class="btn btn-primary">Vote 1 &#128077;</a>
            </li>
            <li class="list-group-item">
                <a href="?vote=2" class="btn btn-primary">Vote 2 &#128078;</a>
            </li>
            <li class="list-group-item">
                <a href="?vote=3" class="btn btn-primary">Vote 3 &#128079;</a>
            </li>
            <li class="list-group-item">
                <a href="?vote=4" class="btn btn-primary">Vote 4 &#128076;</a>
            </li>
            <li class="list-group-item">
                <a href="?vote=5" class="btn btn-primary">Vote 5 &#128075;</a>
            </li>
        </ul>
    </div>
    <div>
        <form action="" method="POST">
            {% csrf_token %}
            {{ form }}
            <button type="submit" class="btn btn-primary">Odeslat</button>
        </form>
    </div>
    <div>
        <div class="my-4">
            <h2>Komentáře</h2>
            <ul class="list-group">
                {% for comment in article.comments.all %}
                    <li class="list-group-item">
                        <div class="d-flex justify-content-between">
                            <h5 class="mb-1">{{ comment.name }}</h5>
                            
                        </div>
                        <p class="mb-1">{{ comment.text }}</p>
                    </li>
                {% endfor %}
            </ul>
        </div>    </div>
    
    <a href="{% url 'content:articles' %}">Zpet na seznam</a>
{% endblock %}
