{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Lite terraria wiki</title>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="icon" type="image/png" href="{% static 'Icon.png' %}">
</head>
<style>
    .uvod img {
        width: 65%;
        height: 100px;
        height: auto;
    }
</style>
<header>
    <div class="content"></div>

    <p id="Be"></p>

    <div class="progress-container">
        <div class="progress-bar" id="progress-bar"></div>
    </div>

    <!-- Hlavička  -->
    <div class="FP">
        <div class="wrapper">
            <div class="flexbox">
                <div class="FBtn"><button id="theme" style="vertical-align:middle"><span>Tmavý/Světlý mód</span></button></div>
                <div class="Fbox one">
                    <!--<a href="#Be"><input type="button" id="button" value="Zpět na začátek"></a></div>-->
                    <a class="likeBtn" href="{% url 'content:articles' %}">Zpět na rozcestník</a></div>
                <div class="Fbox two">
                    <div class="center">
                        Lite terraria wiki
                    </div>
                </div>
                <div class="Fbox three">ASt</div>
            </div>

        </div>
        <script>
            document.getElementById("theme").addEventListener("click", function () {
            if (window.matchMedia("(prefers-color-scheme: dark)").matches) document.body.classList.toggle("light-mode");
            else document.body.classList.toggle("dark-mode");
            });
    
    
            window.onscroll = function() {
                updateProgressBar();
            };
    
            function updateProgressBar() {
                var scrollTop = document.documentElement.scrollTop;
                var scrollHeight = document.documentElement.scrollHeight - document.documentElement.clientHeight;
                var scrollPercent = (scrollTop / scrollHeight) * 100;
                document.getElementById("progress-bar").style.width = scrollPercent + "%";
            }
        </script>
    </div>

        <!-- Titulek  -->
        &nbsp;
        <div class="uvod">
            <div class="center"><img class="logo" src="{% static 'Lite terraria wiki.png' %}" alt="Logo"></div>
        </div>
        &nbsp;
        <hr>
</header>
<body>
    <div class="FP">
        <div class="wrapper">
        <h1>{% block title %}{% endblock %}</h1>
        <main>
            {% block main %}
            {% endblock %}
        </main>
        {% include 'content/footer.html' %}
        </div>
    </div>
</body>
</html>