{% extends "content/base.html" %}

{% block title %}
 
<h1>Reload obrázků</h1>
 
{% endblock %}

{% block main %}

    <form method="post">
        {% csrf_token %}
        <button type="submit">Načíst</button>
    </form>

    {% if done %}
        <h2>Hotovo!</h2>
        {% if copied_files %}
            <p>Byly zkopírovány tyto soubory:</p>
            <ul>
                {% for file in copied_files %}
                    <li>{{ file }}</li>
                {% endfor %}
            </ul>
        {% else %}
            <p>Nebyly nalezeny žádné nové soubory ke kopírování.</p>
        {% endif %}
    {% endif %}

{% endblock %}