.light-mode {
    --color-primary: #ffffff;
    --color-secondary: hsl(0, 0%, 3%);
    --color-tertiary:rgb(255, 255, 255);
}

.dark-mode {
    --color-primary: #000000;
    --color-secondary: #f1f1f1;
    --color-tertiary:rgb(0, 0, 0);
}

html { 
    scroll-behavior: smooth; 
}

body {
    background-color: var(--color-primary);
    color: var(--color-secondary);
    font-family: Poppins;
}

header{ 
    background-color: rgb(248, 248, 248);
    background-repeat: repeat-y;
    background-position: center top;
    text-align: center;
    border: 4px solid rgb(22, 22, 22);
}

.likeBtn:link, .likeBtn:visited {
    background-color: #ffffff;
    font-size: 15px;
    color: rgb(29, 25, 25);
    border: 2px solid #000000;;
    padding: 0px 2px;
    text-align: center;
    text-decoration: none;

    display: inline-block;
  }
  
.likeBtn:hover, .likeBtn:active {
    background-color: rgb(0, 0, 0);
    color:#ffffff;
}


button {
    background-color: white; 
    color: black; 
    border: 2px solid #d1d1d1;
}
  
button:hover {
    background-color: #e2e2e2;
    color: white;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
  }

.image p{
    position: absolute; 
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); 
    color: white;
}

h1{
    color: #000000b4;
    font-family: Poppins;
    font-size: 40px;
    font-weight: bold;
}
body{
    background-color: rgb(224, 234, 255);
    color: hsl(0, 0%, 0%);
    font-family: Poppins;
}

p{
    font-family: Poppins;
    font-size: 16px;
}

p ~ ul {
    background-color: rgb(214, 214, 214);
    border: 5px solid rgb(0, 0, 0);
    border-radius: 25px;
}

div > p {
    background-color: rgb(206, 206, 206);
}

div tr {
    background-color: var(--color-tertiary);
    /*background-color: rgb(68, 187, 53);*/
}

th, td .table {
    border-bottom: 4px solid #000000;
    border-left: 4px solid #04450f;
  }


.txtAni{
    text-align: center;
    text-transform: uppercase;
}

.odsaz{
    text-indent: 10px;
}

.smc{
    line-height: 2;
}

.undr{
    text-decoration: underline;
}

#zelene{
    color: #006f04;
}

@keyframes example {
    0%   {left:0px; top:0px;}
    25%   {left:200px; top:0px;}
    50%   {left:200px; top:200px;}
    75%   {left:0px; top:200px;}
    100%   {left:0px; top:0px;}
}
.wrapper{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.flexbox{
    display: flex;
    flex-wrap: wrap;
}

.Fbox{
    text-align: center;
    height: 25px;
    min-width: 50px;
}
.FBtn{
    text-align: center;
    background: var(--color-tertiary);
}

.one{
    text-align: center;
    background: var(--color-tertiary);
}

.two{
    text-align: center;
    background: var(--color-tertiary);
    flex-grow: 2;
    flex-shrink: 2;
}

.three{
    text-align: center;
    background: var(--color-tertiary);
    flex-grow: 1;
}

div.FP {
    position: sticky;
    top: 0;
    padding: 5px;
    z-index: 2;
    background-color: #494949;
    border: 2px solid #ebebeb;
  }

.center {
    text-align: center;
}

.container{
    display: flex;
    flex-wrap: wrap;
    flex-basis: 100vh;
}
.container .item{
    flex-basis: 25%;
    flex-grow: 1;
    padding: 10px;
}

.container .item .box{
    border: 5px solid rgb(22, 22, 22);
    background-color: #f0f0f0;
    border-radius: 4px;
}

.container .item img{
    padding-top: 10%;
}

.box1 { 
    border: 5px solid green;
    border-radius: 4px;
    max-width: 690px;
    margin-left: auto;
    margin-right: auto;
}
.box2 { 
    padding: 110px 50px 50px 110px;
}
a:link {
    color: rgb(0, 0, 0);
    background-color: transparent;
    text-decoration: none;
}
a:visited {
    color: rgb(31, 31, 31);
    background-color: transparent;
    text-decoration: none;
}
a:hover {
    color: rgb(3, 3, 3);
    background-color: transparent;
    text-decoration: underline;
}
a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
}

.progress-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 5px;
    background-color: #f3f3f3;
    z-index: 9999;
  }
  
  .progress-bar {
    height: 150%;
    background-color: #1c801f;
    width: 0;
  }
  
  .content {
    padding: 0px;
  }


@media (prefers-color-scheme: dark) {
    :root {
        --color-primary: #0a0a0a;
        --color-secondary: #c0c0c0;
        --color-tertiary:rgb(3, 3, 3);
    }
}

@media (prefers-color-scheme: light) {
    :root {
        --color-primary: #ffffff;
        --color-secondary: #000000;
        --color-tertiary:rgb(230, 230, 230);
    }
}

@media (max-width: 650px) {
    .flexbox {
      flex-direction: column;
    }
}

@media (max-width: 550px) {
    .container {
      flex-direction: column;
    }

    .one {
        display: none;
          }
    
    .three{
        display: none;
    }
}

@media (max-width: 350px) {
    img{
        display: none;
    }
    h1{
        font-size: 25px;
    }
    header{
        font-size: 5px;
    }

    .wrapper {
        display: none;
    }
}